---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 8
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [ugrad]
    width: 8
    image: true
  - roles: [alum]
    width: 8
    image: false

---

<div class="jumbotron">
    <p>
        <b>NLP Research Lab at Portland State University</b>
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>Group</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<section>
    <h2>Publications</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <span class="date">
                        <big><strong>2021</strong></big><br />
                    </span>
                </td>
                <td class="publication">
                    <span class="pubtitle">
                        <img src="img/pdf-icon.svg" width="16"
                            height="16" alt="PDF" />
                        <a href="https://aclanthology.org/2021.sustainlp-1.15.pdf">On the Role of Corpus Ordering in Language Modeling</a>.
                    </span><br />
                    <span class="authors">
                        Ameeta Agrawal, Suresh Singh, Lauren Schneider, Michael Samuels.
                    </span><br />
                    <span class="venuetype"></span><span class="venue">Proceedings of the Second Workshop on Simple and Efficient Natural Language Processing at EMNLP. SustaiNLP 2021 (honorable mention for best paper award)</span>.
                    <br />
                    <span class="links">
                    </span>
                </td>
            </tr>
        </tbody>
        </table>
        
</section>